body {
    overflow-x: hidden;
    margin: 0;
    font-family: sans-serif;
    background: #eeeeee;
    color: rgba(0, 0, 0, 0.87);
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

/* #splash inlined */
#splash.hidden {
    transition: opacity 0.2s, background-color 0.2s, transform 0.2s;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1);
}

#main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.section {
    flex: 1 0 auto;
    padding: 32px;
    position: relative;
}

.resizedivider {
    cursor: ew-resize;
    user-select: none;
    flex: 0 0 auto;
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
}
.resizedivider::before,
.resizedivider::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.resizedivider::before {
    transition: background-color 0.2s, transform 0.2s;
    transform: scaleX(0);
    background: transparent;
}
.resizedivider:hover::before {
    transform: scaleX(0.5);
    background: #888888;
}
.resizedivider.dragging::before {
    transform: scaleX(1);
    background: #222222;
}

#main-yaml {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
    border-left: 1px #cccccc dashed;
}
#main-yaml-code-wrap {
    flex: 1 0 fill;
    width: 100%;
    height: 100%;
    margin-top: 32px;
    transition: border-left-color 0.2s;
    border-left: #cccccc 1px solid;
}
#main-yaml-code-wrap.editing {
    border-left-color: black;
}
#main-yaml-code {
    width: 100%;
    height: 100%;
    display: block;
    padding: 16px;
    border: none;
    resize: none;
}
